<h2>Dynamix Section</h2>

<div class="app-ctl-global">
  <button type="button" class="app-cl-btn app-cl-primary" (click)="addSection()">+ Section</button>
</div>

@for (inputs of sections; let sIndex = $index; track sIndex) {
  <section class="app-cmp-section">
    <header>
      <button type="button" class="app-cl-btn app-cl-primary" (click)="add(sIndex)">+ Input</button>

      Section {{ sIndex + 1 }}

      <button
        type="button"
        class="app-cl-btn app-cl-icon app-cl-warn"
        (click)="removeSection(sIndex)"
        [disabled]="sections.length === 1"
      >
        X
      </button>
    </header>

    <div class="app-cmp-number-list">
      @for (item of inputs; let iIndex = $index; track iIndex) {
        <div class="app-cmp-number">
          <label>
            <b>
              Number
              <span class="app-title-number">{{ iIndex + 1 }}</span>
            </b>

            <input
              type="number"
              class="app-cl-number"
              [value]="item.value"
              (input)="onChange(sIndex, iIndex, $any($event.target).valueAsNumber)"
            />
          </label>

          <button
            type="button"
            class="app-cl-btn app-cl-icon app-cl-warn"
            (click)="remove(sIndex, iIndex)"
            [disabled]="inputs.length === 1"
          >
            X
          </button>
        </div>
      }

      <div class="app-cmp-number">
        <label>
          <b>Result</b>
          <output class="app-cl-number">
            {{ getResult(sIndex) }}
          </output>
        </label>
      </div>
    </div>
  </section>
}
